.button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--title-text-color);
    background-color: var(--staff-bg-color);
    border: 1px solid transparent;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function);
}

.hero .button.primary {
    min-width: 216px;
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--button-bg-color);

}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--staff-bg-color);

}

.button.primary:hover,
.button.primary:focus {
    color: var(--title-text-color);
    background-color: var(--staff-bg-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--button-bg-color);
}