.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.client-list .item+.item {
    margin-left: 30px;
}

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--svg-icon-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border 250ms var(--timing-function);
}

.clients-icon {
    fill: var(--svg-icon-color);
    transition: fill 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-text-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-text-color);
}