.form {
    display: block;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-feedback {
    margin-bottom: 20px;
}

.form-checkbox {
    margin-bottom: 30px;
}

.form-label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.form-input {
    border: 1px solid var(--border-form-color);
    border-radius: 4px;
    padding: 9px 35px;
    transition: border-color 250ms var(--timing-function);
}

.form-input:hover,
.form-input:focus {
    border-color: var(--accent-text-color);
}

.form-input:hover+.input-icon,
.form-input:focus+.input-icon {
    fill: var(--accent-text-color);
}

.form-input:focus-visible {
    outline: none;
}

.input-icon {
    transition: fill 250ms var(--timing-function);
}

.form-name {
    position: relative;
}

.input-icon-name {
    position: absolute;
    top: 28px;
    left: 12px;
}

.form-tell {
    position: relative;
}

.input-icon-tell {
    position: absolute;
    top: 28px;
    left: 12px;
}

.form-email {
    position: relative;
}

.input-icon-email {
    position: absolute;
    top: 28px;
    left: 12px;
}

.textarea-input {
    border: 1px solid var(--border-form-color);
    border-radius: 4px;
    width: 448px;
    min-height: 120px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms var(--timing-function);
}

.form-feedback textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--placeholder-text-color);
}

.textarea-input:hover,
.textarea-input:focus {
    border-color: var(--accent-text-color);
}

.textarea-input:focus-visible {
    outline: none;
}

.form-checkbox {
    margin-left: auto;
    margin-right: auto;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-input {
    appearance: none;
}

.checkbox-icon-span {
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;

}

.checkbox-icon {
    fill: transparent;
}

.checkbox-input:checked+.checkbox-icon-span {
    border-color: transparent;
    background-color: #2196f3;
}

.checkbox-input:checked+.checkbox-icon-span .checkbox-icon {
    fill: var(--primary-white-color);
}

.checkbox-text {
    margin-right: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.checkbox-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration-line: underline;
    color: var(--accent-text-color);
}

.form-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 200px;
    min-height: 50px;
    background-color: var(--button-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    box-shadow: var(--button-modal-shadow);
    cursor: pointer;
    transition: background-color 250ms var(--timing-function);
}

.form-button:hover,
.form-button:focus {
    background-color: var(--footer-bg-color);
}